<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explosao Delivery</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<nav class="main-navbar">
    <img src="/assets/logoRed.jpeg" alt="logo">
    <a href="/" class="logo-text"> Explosao Delivery</a>
</nav>

<body>
    <header class="orders-steps-container">
        <div class="orders-steps-content">
            <h1 class="steps-title">
                SIGA AS   <br/> ETAPAS
            </h1>
            <ul class="steps-items">
                <li>
                    <span class="steps-number">1</span>
                    Selecione os produtos e localização.
                </li>
                <li>
                <span class="steps-number">2</span>
                  Depois clique em <strong>"ENVIAR PEDIDO"</strong>
                </li>
            </ul>
        </div>
      </header>

      

    <div class="orders-list-container">
    <div class="orders-list-items">

    <% results.forEach(function(result){%>

      <div class="order-card-container " id="<%=result.id%>">
          <h3 class="order-card-title" id="title-<%=result.id%>">
              <%=result.name%>
          </h3>
          <img src=<%= result.image_uri %> class="order-card-image" alt="imagem cartao" id="img-<%=result.id%>">
          

          <div class="order-card-price_container">

           <% let ValueFormatado = result.price;
              let formated = ValueFormatado.toLocaleString("pt-br", {
                style: "currency",
                currency: "BRL"
              });  %>
              <h3 class="order-card-price" id="price-<%=result.id%>">
                <%= formated %> 
              </h3>
              
  
                        
                <div class="marmita-counter">               
                  
                  <div type="button" class="btn-icon">
                    <span onclick="decrement(id); subtrair('<%=result.price%>','<%=result.id%>'); totalValue()" id="<%=result.id%>" class="minus">-</span>
                  </div>
                    
                 <div class="marmita-counter-value" id="counter-<%=result.id%>">01</div>
                 
                  <div type="button" class="btn-icon">
                    
                   <span onclick="somar('<%=result.price%>','<%=result.id%>' ); increment('<%=result.id%>'); totalValue()"  class="plus">+</span>
                   
                  </div>
                  
                </div>
                  </div>


                  <button onclick="selectItem('<%=result.price%>',id);totalValue(id)" class="btn-marmita-cart" id="<%=result.id%>">
                    <div id="btn-marmita-cart-text-<%= result.id %>">Adicionar ao carrinho</div>
                    <img class="teste-img" src="/assets/cart.png" alt="Imagem carrinho">
                  </button>

                  <!-- <div class="marmita-cart-container">
                    <div class="marmita-cart-text">Adicionar</div>
                    <div class="marmita-cart-img">
                      <img class="teste-img" src="/assets/cart.png" alt="Imagem carrinho">
                    </div>
                    
                  </div> -->





                  

                  
        
          
          <div class="order-card-description">
              <h3>Descrição</h3>
              <p>
                <%=result.description%>
              </p>
          </div>
      </div>
    <%});%>

    



    </div>
    </div>

    <!-- <div class="modal-overlay">
        <div class="modal">
            <div class="modal-container">
                <div class="order-card-title-modal"></div>
                <div class="modal-img">
                    <img class="image-modal" src="" alt="imagem cartao">
                  </div>
                  <div class="content">
                    <div class="marmita-form">
                      <div class="marmita-form-header">
                        <label for="marmita-form" class="marmita-form-header-label"> Algum comentário?</label>
                        <span id="coment-count" class="marmita-form-counter">0 / 140</span>
                      </div>
                      <textarea id="marmita-form"
                                onkeyup="limite_textarea(this.value)"
                                maxlength="140"
                                rows="4"
                                cols="51"
                                class="marmita-form-textarea"
                                placeholder="Ex: tirar a cebola, maionese á parte etc."></textarea>
                      
                      <div class="marmita-counter-add">
                        <div class="quantity">
                          <div class="minus-counter-plus">
                      <div onclick="decrement();subtract()" class="btn-counter"> - </div>
                      <div id="marmita-counter-value">1</div>
                      <div onclick="increment();somar()" class="btn-counter"> + </div>
                            </div>
                        </div>
                      <div class="marmita-counter">
                        <button onclick="closeModal();addProduct();saveOrder()" class="btn-add">
                            <span class="btn-span-add">Adicionar</span>
                            <span id="btn-span-total">R$ 12,00</span>
                      </button>
                        </div>
                      
                    </div>
                    
                  </div>
                </div>
              </div>
              
        </div>
    </div> -->

<div class="order-summary-container">
    <div class="order-summary-content">
        <div>
            <span class="amount-selected-container">
                <strong id="amount-selected">0</strong>
        PEDIDOS SELECIONADOS
    </span>
            <span className="order-summary-total">
                <strong id="amount-selected-total">
                    R$ 0,00
                    </strong>
        VALOR TOTAL
            </span>
        </div>
        <button class="order-summary-make-order">
            
        
                FAZER PEDIDO
        </button>
    </div>
</div>


    <footer class="main-footer">
        <div class="footer-icons">
            <a href="https://github.com/bruno2026"><img src="/assets/github.svg" alt="github icon"></a>

            <a href="https://www.linkedin.com/in/brunogomes2021/"><img src="/assets/linkedin.svg" alt="github icon"></a>
        </div>
        <p>by Bruno gomes</p><br>
        <p>App desenvolvido para vendas do restaurante explosão de sabores</p>
    </footer>
    <script  src="/scripts/script.js"></script>
</body>
</html>